# папка node_modules не должна попадать в Git, игнорируем. Папка появляется локально при выполнении npm i (npm install)
node_modules

# папка с конечно сборкой так же не должна версионироваться, так как мы ее можем сгенерировать в любой момент с помощью npm-scripts
build
dist